{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}

    <h1>Hello {{ app.user.getEmail() }}!</h1>
{% endblock %}
