{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}

    {% if app.user %}
        <h1>{{ 'say_hello'|trans({'name': app.user.name, 'roles': app.user.getRolesString()}) }}</h1>
    {%  else %}
        <h1>{{ 'say_hello_visitor'|trans }}</h1>
    {% endif %}

    {% if is_granted('ROLE_STUDENT') %}
        {% include 'user/show_parent.html.twig' %}
        {% include 'course_registration/index.html.twig' with {'course_registrations': app.user.getRegistrations()} %}
    {% endif %}
    {% if is_granted('ROLE_PARENT') %}
        {% include 'user/index_children.html.twig' %}
    {% endif %}
{% endblock %}
