<form method="post" action="{{ path('app_course_delete', {'id': course.id}) }}" onsubmit="return confirm({{ 'confirm_delete'|trans }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="btn">{{ 'delete'|trans }}</button>
</form>
