{% extends 'base.html.twig' %}

{% block title %}New course{% endblock %}

{% block body %}
    <h1>Create new course</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index_by_instructor', {'instructorId': app.user.id}) }}">back to courses</a>
{% endblock %}
