{% extends 'base.html.twig' %}

{% block title %}Edit CourseRegistration{% endblock %}

{% block body %}
    <h1>Edit CourseRegistration</h1>

    {{ include('course_registration/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_course_registration_index') }}">back to list</a>

    {{ include('course_registration/_delete_form.html.twig') }}
{% endblock %}
