{% extends 'base.html.twig' %}

{% block title %}Course registration index{% endblock %}

{% block body %}
    <h1>Course registration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Course title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course_registration in course_registrations %}
            <tr>
                <td>{{ course_registration.course.title }}</td>
                <td>
                    <a href="{{ path('app_course_registration_show', {'id': course_registration.id}) }}">show</a>
                    {% if is_granted('ROLE_TEACHER') %}
                        <a href="{{ path('app_course_registration_edit', {'id': course_registration.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
