{% extends 'base.html.twig' %}

{% block title %}New course registration{% endblock %}

{% block body %}
    <h1>Create new course registration</h1>

    {{ form(form) }}

    <a href="{{ path('app_course_registration_by_user') }}">back to list</a>
{% endblock %}
