{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Course rate</h1>
    <div style="width:500px;height:500px">
        {{ render_chart(course_rate_chart) }}
    </div>
    <h1>Class average</h1>
    <div style="width:500px;height:500px">
        {{ render_chart(class_average_chart) }}
    </div>
    <h1>Student performance</h1>
    <div style="width:500px;height:500px">
        {{ render_chart(student_performance_chart) }}
    </div>
</div>
{% endblock %}
