{% block body %}
    <h3>Parent</h3>

    {% if app.user.getParent() %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ app.user.getParent().name }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <h6>No parent</h6>
    {% endif %}

    <a href="{{ path('app_user_edit', {'id': app.user.id}) }}">edit</a>
{% endblock %}
